<% provide(:title, 'About Us') %>

    <h1>About Us</h1>
    <p>
      This application is a test that i made with the help of Michael Harts ruby on rails guide! feel free too check it out <a href="http://railstutorial.org/">Link</a>
    </p>
 