<% provide(:title, 'Help') %>

    <h1>Help</h1>
    <p>
      how am i supposed to help you? you should help by letting me help you so that the only helping occuring is me helping you dude.
      </p>
  